

<div ng-controller="ClubShowController as vm">
  <h1 class="club-title">{{ vm.club.name }}</h1>
</div>


<div id="current-book">
  <h5>Current Book:</h5><br>
  <h4 id="currentbook-title">{{ vm.club.currentbook.title }}</h4>
  <h5>{{ vm.club.currentbook.author }}</h5>
</div>

<div id="admin-features">
  <create-current-book></create-current-book>
</div>

<div class="members">
  <h4>Club Members</h4>
  <ul id="member-list" ng-repeat="user in vm.club.users">
    <li><a href="#">{{ user.username }}</a></li>
  </ul>
</div>

<div class="join">
  <button class="btn" ng-click="vm.addUser(vm.user)">Join Club</button
</div>