<div class="container-fluid">
  <div class="row">
    <div id="home" class="banner">
      <div id="site-brand">
        <h1 id="site-title">Chapter Chat</h1>
        <h3 id="subtitle">Book Club</h3>
      </div>
    </div>
  </div>
</div>

<div ng-include="'home/navigation.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 form-div">
      <h4 class="home-headline">Are you looking to connect with other readers?  Find a club in your area below.</h4>
        <div ng-controller="vm">
          <p>Enter a State or Country Name:</p>
          <input ng-model="query" type="text" name="query">
        </div>
        <ul class>
          <li ng-repeat="club in clubs | filter: query">
            <a href="#"> {{ club.name }} - <em> {{ club.location }} </em></a>
    </div>    
    <create-club class="col-md-6 form-div"></create-club>
  </div>
</div>
<ui-view></ui-view>